@import '../../../scss/variables.scss';
@import '../../../scss/mixins/reset.scss';

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  max-width: 100vw;
  user-select: none;
  width: 100%;

  .buttons{
    display: flex;
    gap: 2px;
  }

  .title {
    color: $main-blue;
    font-size: 14px;
    font-weight: 600;
  }
}

