@import '../../../scss/variables.scss';
@import '../../../scss/mixins/reset.scss';
@import '../../../scss/mixins/utils.scss';
@import '../../../scss/mixins/text.scss';

.button {
  @include reset-button();
  @include focus();
  position: relative;

  &:disabled {
    pointer-events: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

.icon {
  @include vertical-center();
  left: 16px;
}


.custom{
  background:none;
  border: 1px solid $main-blue;
  border-radius: 15px;
  padding: 3px;
  width: 60px
}

.regular {
  @include textRegular-16();
  align-items: center;
  display: flex;
  font-size: 10px;
  justify-content: center;
}
