@import '../../../scss/variables.scss';

.container{
        display: flex;
        justify-content: center;
        margin-top: 20px;


     

        // .procent{
        //         color: $sub-green;
        //         position: relative;
        //         text-align: center;
        //         top: 50%;
        //         transform: translateY(-50%);
        // }

        .dates{
                align-items: center;
                display: flex;    
                justify-content: space-around;
                position: relative;
                top: 100%;     

                .date{
                        font-size: 10px;
                }
        }
}
