@import '../../../scss/variables.scss';

.container{
        background-image:
        url('/assets/layers/Graph/2.png'),
        url('/assets/layers/Graph/graph/2.png'),
        url('/assets/layers/Graph/graph/3.png'),
        url('/assets/layers/Graph/15.png'),
        url('/assets/layers/Graph/graph/1.png');
        background-position: center, center; 
        background-repeat: no-repeat, no-repeat; 
        background-size: cover, cover;
        height: 155px;
        margin-top: 10px;
        width: 100vw;

        @media (min-width: 405px) {
        height: 190px;
        }

        @media (min-width: 445px) {
        height: 210px;
        }

        @media (min-width: 505px) {
        height: 240px;
        }

        @media (min-width: 555px) {
        height: 260px;
        }

        @media (min-width: 605px) {
        height: 280px;
        }

        .procent{
                color: $sub-green;
                position: relative;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
        }

        .dates{
                align-items: center;
                display: flex;    
                justify-content: space-around;
                position: relative;
                top: 100%;     

                .date{
                        color:$main-blue;
                        font-size: 10px;
                }
        }
}
