.container{
    margin:  50px 15px;

    .list{
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .bot{
        align-items: center;
        background-color: #1b293e;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        max-width: 50px;
       max-width: 100vw;
        padding: 15px 0;
        width: 100%;

        .img{
            height: 50px;
            width: 65px;
        }

        .name {
            font-size: 11px;
            text-align: center;
            text-overflow: ellipsis;
            width: 70px;
        }

        .cost{
            font-size: 11px;
        }
    }
}

