@import '../../../scss/variables.scss';

.container{
    margin:  10px 15px;

    .list{
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .bot{
        align-items: center;
        background-color: $sub-blue;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        max-width: 50px;
       max-width: 100vw;
        padding: 10px 0;
        width: 100%;

       

        .img{
            height: 50px;
            width: 65px;
        }

        .name {
            font-size: 11px;
            text-align: center;
            text-overflow: ellipsis;
            width: 70px;
        }

        .performance{
            color:$sub-green;
            font-size: 11px;
        }

        .loss{
            color:$sub-red;
            font-size: 11px;
        }
    }
}

