// COLORS

$basic-white: #ffffff;
$main-blue: #4d6078;
$sub-green: #5ea753;

// FOLDER COLORS
$attack: #ff6400;
$attack: #ff1704;
$defecne: #54964a;
$balance: #0095c7;
$mega: #ffdb00;

// FONTS

$font-family-roboto: 'Roboto', sans-serif;
$font-family-opensans: 'Open Sans', monospace;

// FONT WEIGHTS

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// SHADOWS

$basic-box-shadow: 0 0 0 1px transparent,
  0 0 0 2px #223c50;

//  BORDER
